.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  .overlay-header {
    color: white;
  }
}

